<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div class="mat-app-background">
<mat-card>
  <mat-card-title>Heater control</mat-card-title>
  <mat-card-content>Control heatera and pumps at home... </mat-card-content>
  <mat-card-actions>
    <button mat-button>Open</button>
  </mat-card-actions>
</mat-card>

<div></div>

<a routerLink="/irrigation"
   routerLinkActive="active">Irrigation</a>

<mat-card id="irrigation" (click)="appRoute($event)">
  <mat-card-title>Irrigation control</mat-card-title>
  <mat-card-content>Monitor and manage relays for pouring garden ... </mat-card-content>
  <mat-card-actions>
    <button mat-button>Open</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Air conditioning</mat-card-title>
  <mat-card-content>Ventilation, gas/smoke sensors ... </mat-card-content>
  <mat-card-actions>
    <button mat-button disabled>Open</button>
  </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>

</div>
